@using HiVolunteerWeb.Entities
@model VolunteeringEntity

<form asp-controller="Admin" asp-action="EditVolunteering" method="post">
    <label asp-for="@Model.VolunteeringName" class="form-label"></label>
    <input asp-for="@Model.VolunteeringName" class="form-control" />
    <span asp-validation-for="@Model.VolunteeringName" class="text-danger"></span>

    <label asp-for="@Model.Description" class="form-label"></label>
    <input asp-for="@Model.Description" type="text" class="form-control" />
    <span asp-validation-for="@Model.Description" class="text-danger"></span>

    <label asp-for="@Model.Address" class="form-label"></label>
    <input asp-for="@Model.Address" type="text" class="form-control" />
    <span asp-validation-for="@Model.Address" class="text-danger"></span>

    <label asp-for="@Model.VolunteeringDate">Select volunteering date:</label>
    <input asp-for="@Model.VolunteeringDate" type="date" id="date" name="date">
    <span asp-validation-for="@Model.VolunteeringDate" class="text-danger"></span>

    <label asp-for="@Model.DeadLineDate">Select deadline date:</label>
    <input asp-for="@Model.DeadLineDate" type="date" id="date" name="date">
    <span asp-validation-for="@Model.DeadLineDate" class="text-danger"></span>

    <label asp-for="@Model.IsFoodAvailable" class="form-label"></label>
    <input asp-for="@Model.IsFoodAvailable" type="checkbox" />
    <span asp-validation-for="@Model.IsFoodAvailable" class="text-danger"></span>

    <label asp-for="@Model.IsNeededAccept" class="form-label"></label>
    <input asp-for="@Model.IsNeededAccept" type="checkbox" />
    <span asp-validation-for="@Model.IsNeededAccept" class="text-danger"></span>

    <label asp-for="@Model.MaxPeopleCount" class="form-label"></label>
    <input asp-for="@Model.MaxPeopleCount" type="number" class="form-control" />
    <span asp-validation-for="@Model.MaxPeopleCount" class="text-danger"></span>

    <button type="submit">Edit Volunteering</button>
</form>